@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap');
@font-face {
    font-family: 'KoPubWorldDotum';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'KoPubWorldDotum';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'KoPubWorldDotum';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumBold.ttf') format("truetype");
    font-display: swap;
}
*{margin: 0; padding: 0; text-decoration: none; list-style-type: none;}


#myvideo {
    width: 390px;
    height: 500px;
    z-index: 5;
}

#myvideo2 {
    width: 330px;
    height: 187px;
    z-index: 5;
}

.main{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 500px;
    background-image: url('img_m/main_01.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 390px 500px;
    overflow: hidden;
}

.warp01 {
    position: relative;
    text-align: center;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.warp02 {
    position: relative;
    text-align: center;
    width: 100%;
    height: 522px;
    overflow: hidden;
}

.warp03 {
    position: relative;
    text-align: center;
    width: 100%;
    height: 491px;
    overflow: hidden;
}

.warp04 {
    position: relative;
    text-align: center;
    width: 100%;
    height: 564px;
    background-color: black;
    overflow: hidden;
}

.warp05 {
    position: relative;
    text-align: center;
    width: 100%;
    height: 866px;
    overflow: hidden;
}

.warp06 {
    position: relative;
    text-align: center;
    width: 100%;
    height: 838px;
    overflow: hidden;
}

.warp07 {
    position: relative;
    text-align: center;
    width: 100%;
    height: 318px;
    overflow: hidden;
}

.warp08 {
    position: relative;
    text-align: center;
    width: 100%;
    height: 318px;
    overflow: hidden;
}

.con01{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 145px;
    background-image: url('img_m/01_01.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 117px 145px;
    z-index: 5;
    left: 98px;
    top: 34px;
}

.con02{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 62px;
    background-image: url('img_m/01_02.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 179px 62px;
    top: 26px;
    left: -64px;
}

.con03{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 180px;
    background-image: url('img_m/01_03.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 344px 180px;
    top: 110px;
}

.con04{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 76px;
    background-image: url('img_m/01_04.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 289px 76px;
    top: 321px;
}

.con05{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 94px;
    background-image: url('img_m/01_05.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 390px 94px;
    top: 428px;
}

.con2_00{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 187px;
    z-index: 5;
    top: 151px;
}

.con2_01{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 74px;
    background-image: url('img_m/02_01.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 198px 74px;
    top: 17px;
    z-index: 3;
}

.con2_02{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 338px;
    background-image: url('img_m/02_02.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 390px 338px;
    top: 91px;
}

.con2_03{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 36px;
    background-image: url('img_m/02_03.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 372px 36px;
    top: 442px;
}

.con3_01{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 68px;
    background-image: url('img_m/03_01.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 162px 68px;
    top: 16px;
}

.con3_02{
    position: absolute;
    align-items: center;
    width: 100%;
    top: 121px;
}

.con3_03{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 220px;
    top: 344px;
}

.con4_01{
    position: absolute;
    align-items: center;
    background-image: url('img_m/04_01.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 194px 68px;
    width: 100%;
    height: 68px;
    top: 21px;
}

.con4_02{
    position: absolute;
    align-items: center;
    background-image: url('img_m/04_02.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 393px 323px;
    width: 100%;
    height: 323px;
    top: 97px;
}

.con4_03{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 187px;
    top: 439px;
}

.con4_04{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 219px;
    top: 647px;
}

.con5_01{
    position: absolute;
    align-items: center;
    background-image: url('img_m/05_01.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px 29.5px;
    width: 100%;
    height: 29.5px;
    top: 25px;
}

.con5_02{
    position: absolute;
    align-items: center;
    background-image: url('img_m/05_02.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 390px 219px;
    width: 100%;
    height: 219px;
    top: 87px;
}

.con5_03{
    position: absolute;
    align-items: center;
    background-image: url('img_m/05_03.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 330px 272px;
    width: 100%;
    height: 272px;
    top: 324px;
}

.con5_04{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 219px;
    top: 619px;
}

.con6_01{
    position: absolute;
    align-items: center;
    background-image: url('img_m/06_01.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 194px 57px;
    width: 100%;
    height: 57px;
    top: 20px;
}

.con6_02{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 219px;
    top: 100px;
}

.con7_01{
    position: absolute;
    align-items: center;
    background-image: url('img/07_01.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 194px 57px;
    width: 100%;
    height: 57px;
    top: 20px;
}

.con7_02{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 219px;
    top: 100px;
}

.footer_main{
    position: relative;
    align-items: center;
    width: 100%;
    height: 49px;
    background-image: url('img_m/footer.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 390px 49px;
}
