@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap');
@font-face {
    font-family: 'KoPubWorldDotum';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'KoPubWorldDotum';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'KoPubWorldDotum';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumBold.ttf') format("truetype");
    font-display: swap;
}
*{margin: 0; padding: 0; text-decoration: none; list-style-type: none;}

header{ 
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myvideo {
    width: 1240px;
    height: 700px;
}

#myvideo2 {
    width: 1920px;
    height: 1080px;
}

.main{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 1080px;
    background-image: url('img/main_01.png');
    background-repeat: no-repeat;
    background-position: center; 
    z-index: 5;
}

.warp01 {
    position: relative;
    text-align: center;
    width: 100%;
    height: 1080px;
}

.warp02 {
    position: relative;
    text-align: center;
    width: 100%;
    height: 1332px;
}

.warp03 {
    position: relative;
    text-align: center;
    width: 100%;
    height: 1811px; 
}

.warp04 {
    position: relative;
    text-align: center;
    width: 100%;
    height: 2716px;
    background-color: black;
}

.warp05 {
    position: relative;
    text-align: center;
    width: 100%;
    height: 4191px;
}

.warp06 {
    position: relative;
    text-align: center;
    width: 100%;
    height: 3760px;
}

.con01{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 405px;
    background-image: url('img/01_01.png');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 5;
    left: 227px;
    top: 143px;
}

.con02{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 135px;
    background-image: url('img/01_02.png');
    background-repeat: no-repeat;
    background-position: center;
    top: 212px;
    left: -145px;
}

.con03{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 390.5px;
    background-image: url('img/01_03.png');
    background-repeat: no-repeat;
    background-position: center;
    top: 398px;
}

.con04{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 144px;
    background-image: url('img/01_04.png');
    background-repeat: no-repeat;
    background-position: center;
    top: 885px;
}

.con05{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 206px;
    background-image: url('img/01_05.png');
    background-repeat: no-repeat;
    background-position: center;
    top: 1137px;
}

.con2_00{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 700px;
    z-index: 5;
    top: 528px;
}

.con2_01{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 195px;
    background-image: url('img/02_01.png');
    background-repeat: no-repeat;
    background-position: center;
    top: 120px;
    z-index: 3;
}

.con2_02{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 1283px;
    background-image: url('img/02_02.png');
    background-repeat: no-repeat;
    background-position: center;
    top: 292px;
}

.con2_03{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 236px;
    background-image: url('img/02_03.png');
    background-repeat: no-repeat;
    background-position: center;
    top: 1575px;
}

.con3_01{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 195px;
    background-image: url('img/03_01.png');
    background-repeat: no-repeat;
    background-position: center;
    top: 122px;
}

.con3_02{
    position: absolute;
    align-items: center;
    width: 100%;
    top: 462px;
}

.con3_03{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 1080px;
    top: 1636px;
}

.con4_01{
    position: absolute;
    align-items: center;
    background-image: url('img/04_01.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 204px;
    top: 172px;
}

.con4_02{
    position: absolute;
    align-items: center;
    background-image: url('img/04_02.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 1614px;
    top: 398px;
}

.con4_03{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 1080px;
    top: 2007px;
}

.con4_04{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 1080px;
    top: 3111px;
}

.con5_01{
    position: absolute;
    align-items: center;
    background-image: url('img/05_01.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 78px;
    top: 107px;
}

.con5_01{
    position: absolute;
    align-items: center;
    background-image: url('img/05_01.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 78px;
    top: 107px;
}

.con5_02{
    position: absolute;
    align-items: center;
    background-image: url('img/05_02.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 1080px;
    top: 288px;
}

.con5_03{
    position: absolute;
    align-items: center;
    background-image: url('img/05_03.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 141px;
    top: 1418px;
}

.con5_04{
    position: absolute;
    align-items: center;
    background-image: url('img/05_04.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 865px;
    top: 1618px;
}

.con5_05{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 1080px;
    top: 2583px;
}

footer{
    position: relative;
    text-align: center;
    width: 100%;
    height: 160px;
    background-color: black;
    background-position: center;
    padding-top: 30px;
}

.text_01{
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: KoPubWorldDotum;
    font-size: 30px;
    font-weight: 600;
    padding-right: 1000px;
}

.text_02{
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: KoPubWorldDotum;
    font-size: 15px;
    padding-right: 515px;
    padding-top: 15px;
}

.text_03{
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: KoPubWorldDotum;
    font-size: 15px;
    padding-left: 900px;
    padding-top: 5px;
}